<mat-drawer-container class="example-container">
  <mat-drawer
    #drawer
    class="drawer-left"
    mode="side"
    opened
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-nav-list routerLink="/dashboard">
      <a mat-list-item routerLink="/dashboard" style="height: 0;"
        ><mat-icon matListIcon> dashboard </mat-icon> Dashboard</a
      >
    </mat-nav-list>
    <mat-nav-list routerLink="/task-list-component">
      <a mat-list-item routerLink="/task-list-component" style="height: 0;"
        ><mat-icon matListIcon> done_all </mat-icon> Tasks</a
      >
    </mat-nav-list>
    <mat-nav-list routerLink="/department-list-component">
      <a
        mat-list-item
        routerLink="/department-list-component"
        style="height: 0;"
        ><mat-icon matListIcon> all_inbox </mat-icon> Departments</a
      >
    </mat-nav-list>
    <mat-nav-list routerLink="/employee-list-component">
      <a mat-list-item routerLink="/employee-list-component" style="height: 0;"
        ><mat-icon matListIcon> account_box </mat-icon> Employees</a
      >
    </mat-nav-list>
    <mat-nav-list routerLink="/readme">
      <a mat-list-item routerLink="/readme" style="height: 0;"
        ><mat-icon matListIcon> info </mat-icon> Readme</a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="mat-elevation-z2" color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <app-task-list></app-task-list>
    <app-department-list></app-department-list>
    <app-employee-list></app-employee-list> -->
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
