mat-drawer-content {
  height: 100vh;
}

mat-nav-list {
  display: block;
  padding: 30px;
}

mat-nav-list:hover {
  background-color: #001133;
  cursor: pointer;
}

mat-nav-list:focus {
  outline: 0px !important;
  background-color: rgba(0, 0, 0, 0.452);
}

.drawer-left {
  background: rgb(166,173,237, 0.2);
}

.drawer-left a {
  color: black;
}

.mat-toolbar-nav {
  background: white !important;
}

.search-box {
  width: 20vw;
  margin: auto;
  bottom: 10px;

}

.search-box mat-icon {
  position: relative;
  right: 30px;
}

.mat-form-field-infix {
  padding: 0px !important;
}

.router-wrapper {
  /* padding: 16px; */
}
mat-drawer-container {
  background:white !important;
}
