<mat-toolbar class="mat-elevation-z2 mat-toolbar-nav mat-toolbar-gray">
  <h2>Readme Page</h2>

  <span class="example-spacer"></span>
</mat-toolbar>
<div class="readme-wrapper">
  <h1>Introduction</h1>
  <p>
    The purpose of this page is to shortly explain what we have done and what is
    left to be improved for this web application.
  </p>
  <h2>Requirements Table</h2>
  <p>
    The following table explains what we have completed and what not based on
    all of the requirements found in the Web 2 practical.
    <br />
    <li>
      The first columns shows whether the requirements is completed.
    </li>
    <li>
      Second Columns the Nr of the requirements. The first letter showing the
      week
    </li>
    <li>Third column shows the priority. X marks the higher priority</li>
    <li>Fourth column describes the requirement in detail</li>
    <li>
      Final column adds a comment from us that is relevant to our implementation
    </li>
  </p>
  <table class="requirements-table" border="1" cellpadding="2" cellspacing="0">
    <tbody>
      <tr style="font-weight: bold; background-color: #aaa;">
        <td></td>
        <td>Nr.</td>
        <td>Req.</td>
        <td>Feature</td>
        <td>Comment</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>1.1</td>
        <td>X</td>
        <td>
          Set up development environment (IDE, GitBash, Node.js, NPM, bower)
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>1.2</td>
        <td>X</td>
        <td>Create Angualr seed app via IDE</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>1.3</td>
        <td>X</td>
        <td>
          Set-up GIT environment. One student pushes the seed app the rest
          pulls; If it’s a private repository the teacher should be invited
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>2.1</td>
        <td>X</td>
        <td>
          Create a component for Tasks and populate a grid via an array of
          strings
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>2.2</td>
        <td>X</td>
        <td>
          Create a component for Departments and populate a grid via an array of
          strings
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>2.3</td>
        <td>X</td>
        <td>
          Create a component for Employees and populate a grid via an array of
          strings
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>3.1</td>
        <td>X</td>
        <td>
          Change the component Task to show a list with task names from an array
          of objects. Decide for yourself what the properties of a Task object
          should be.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>3.2</td>
        <td>X</td>
        <td>
          Change the component Departments to show a list with department names
          from an array of objects. Decide for yourself what the properties of a
          Department object should be.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>3.3</td>
        <td>X</td>
        <td>
          Change the component Employees to show a list with employee names from
          an array of objects. Decide for yourself what the properties of an
          Employee object should be.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>3.4</td>
        <td>X</td>
        <td>
          Implement CRUD functionalities for component Tasks; i.e. make it
          possible to create, update, view (the details) and delete tasks.
          Determine with your group how you're going to visualize it in the view
          and make sure it's consistent with the other components.
        </td>
        <td>* Update for tasks is not implemented</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>3.5</td>
        <td>X</td>
        <td>
          Implement CRUD for component Departments; i.e. make it possible to
          create, update, view (the details) and delete departments. Determine
          with your group how you're going to visualize it in the view and make
          sure it's consistent with the other components.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>3.6</td>
        <td>X</td>
        <td>
          Implement CRUD for component Employees; i.e. make it possible to
          create, update, view (the details) and delete employees. Determine
          with your group how you're going to visualize it in the view and make
          sure it's consistent with the other components.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>4.1</td>
        <td>X</td>
        <td>
          Implement a Service for component Tasks; This Service should supply
          the data for the component. Be sure to also make the appropriate
          changes to the component and/ or view so it makes use of this Service.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>4.2</td>
        <td>X</td>
        <td>
          Implement a Service for component Departments; This Service should
          supply the data for the component. Be sure to also make the
          appropriate changes to the component and/ or view so it makes use of
          this Service.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>4.3</td>
        <td>X</td>
        <td>
          Implement a Service for component Employees; This Service should
          supply the data for the component. Be sure to also make the
          appropriate changes to the component and/ or view so it makes use of
          this Service.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>4.4</td>
        <td>X</td>
        <td>
          Change component Tasks in such a way the Task model also storesto
          which department it belongs, which employee(s) are working on it and
          when it needs to be done.
        </td>
        <td>* Currently we output the ID of the employee</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>4.5</td>
        <td>X</td>
        <td>
          Change component Departments in such a way the Department model stores
          which employee(s) are working there.
        </td>
        <td>* Currently we output the ID of the employee</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>4.6</td>
        <td>X</td>
        <td>
          Change component Employees in such a way the Employee model stores to
          which department he/she belongs to.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>4.7</td>
        <td>X</td>
        <td>
          Create a new component Dashboard. In this component you need to be
          able to see an overview of the Tasks, Departments &amp; Employees with
          their names. When clicking on one of the items you should see the
          details. i.e. When you click on a task you should see all of its
          information in the same way it's displayed in module Tasks (make use
          of directives).
        </td>
        <td>* Have not used directives</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✗</td>
        <td>4.8</td>
        <td>&nbsp;</td>
        <td>
          Change component Departments in such a way it will show the employees
          names when you view the details.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✗</td>
        <td>4.9</td>
        <td>&nbsp;</td>
        <td>
          Change component Employees in such a way it will show the department
          name when you view the details.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.1</td>
        <td>X</td>
        <td>Change component Tasks enabling the user to search for a task</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>5.2</td>
        <td>X</td>
        <td>
          Change component Departments enabling the user to search for a
          department
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.3</td>
        <td>X</td>
        <td>Change component enabling the user to search for an employee</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>5.4</td>
        <td>X</td>
        <td>
          Install Angular Material or ng-Bootstrap and use their widgets and
          styling to styling the ‘main template’
        </td>
        <td>* Used "Angular Material Instead"</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.5</td>
        <td>X</td>
        <td>Style the view of component Tasks</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>5.6</td>
        <td>X</td>
        <td>Style the view of component Departments</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.7</td>
        <td>X</td>
        <td>Style the view of component Employees</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>5.8</td>
        <td>X</td>
        <td>Style the view of component Dashboard</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.9</td>
        <td>X</td>
        <td>
          Create a routing module and add a navbar to your app using the routing
          module.
        </td>
        <td>* Added responsible functionality for nav drawer</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>5.10</td>
        <td>&nbsp;</td>
        <td>
          Change component Dashboard so you can search based on employee and/or
          department
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>5.11</td>
        <td>&nbsp;</td>
        <td>
          Create a component Calendar which shows a month calendar. In this
          module the tasks should be incorporated into the calendar. For
          example, show the name of task with a date. Make sure the rang of
          dates starts from the day the task was created till when it should
          befinished.Finish the GUI by making the tasks clickable. When clicked
          the detailsof a task should shown.
        </td>
        <td>* Not working very well. Some bugs are observed</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✗</td>
        <td>5.12</td>
        <td>&nbsp;</td>
        <td>Create PHP REST/JSON API</td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>6.1</td>
        <td>X</td>
        <td>
          Change the service providing Tasks data so it starts/initialize with
          datafrom the API found at
          http://i875395.hera.fhict.nl/api/&lt;PCN&gt;/task. Thecomponent should
          still maintain the CRUD functionalities. Note: keep UX in mind
          concerning a-sync.
        </td>
        <td>*No Update functionality implemented</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>6.2</td>
        <td>X</td>
        <td>
          Change the service providing Departments data so it starts/initialize
          with data from the API found at
          http://i875395.hera.fhict.nl/api/&lt;PCN&gt;/department. The component
          should still maintain the CRUDfunctionalities.Note: keep UX in mind
          concerning a-sync.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>6.3</td>
        <td>X</td>
        <td>
          Change the service providing Employees data so it starts/initialize
          withdata from the API found
          athttp://i875395.hera.fhict.nl/api/&lt;PCN&gt;/employee. The
          componentshould still maintain the CRUD functionalities.Note: keep UX
          in mind concerning a-sync.
        </td>
        <td>
          *Updating (PUT) does not work correctly for updating the department
        </td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✔</td>
        <td>6.4</td>
        <td>&nbsp;</td>
        <td>
          Ensure that the UI of all API access takes a-sync into account. i.e.
          theUI should not block, responses and errors are correctly handled.
        </td>
        <td>*This is in some cases taken into consideration</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✔</td>
        <td>6.5</td>
        <td>&nbsp;</td>
        <td>
          Change components Dashboard and/or Calendar making it possible toadd
          tasks from their view.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✗</td>
        <td>6.6</td>
        <td>&nbsp;</td>
        <td>
          Search for another public API (web service) which fits the “To
          do”-appand include it
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✗</td>
        <td>x.1</td>
        <td>&nbsp;</td>
        <td>
          Make it possible to sort tasks, employees and departments bydifferent
          properties
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #f0f0f0;">
        <td>✗</td>
        <td>x.2</td>
        <td>&nbsp;</td>
        <td>
          In the Dashboard component, when selecting any object being a
          Task,Employee or Department, make it highlight all the associated
          objects.For example: When selecting a Task, highlight the
          associatedDepartment in the Department component and highlight
          theEmployees working on this Task in the Employee component.
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td>✗</td>
        <td>x.3</td>
        <td>&nbsp;</td>
        <td>
          Make sure your data is stored in local cache memory so when theuser
          closes the browser their changes are not lost. (Use a local
          cachestorage / not a database)
        </td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
