<mat-toolbar class="mat-elevation-z2 mat-toolbar-nav" color="">
  <h2>Dashboard</h2>
</mat-toolbar>

<div class="wrapper">
  <mat-card>
    <mat-toolbar class="mat-elevation-z2 mat-toolbar-nav" color="">
      <h2>Tasks Overview</h2>

      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="openDialog()">
        Create Task
      </button>
    </mat-toolbar>
    <app-calendar class="calendar"></app-calendar>
  </mat-card>

  <mat-card>
    <app-employee-list></app-employee-list>
  </mat-card>
  <mat-card>
    <app-department-list></app-department-list>
  </mat-card>
</div>
