.example-full-width {
    width: 100%;
    display: block;
  }
  
  .form-wrapper {
    padding: 20px;
  }
  
  button {
    width: 100%;
  }
  
  /* Border */
  mat-form-field {
    width: 100%;
  }
  