<mat-toolbar class="mat-elevation-z2 mat-toolbar-nav color-dark-blue">
    <h2>CREATE NEW DEPARTMENT</h2></mat-toolbar
>
<div class="form-wrapper">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Department Name</mat-label>
    <input matInput type="text" placeholder="Department name" [(ngModel)]="newDepartmentName" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Department Building</mat-label>
    <input matInput type="text" placeholder="Department building" [(ngModel)]="newDepartmentBuilding" />
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Assign Employees</mat-label>
    <mat-select multiple [(ngModel)]="selectedEmployees">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </mat-option>
    </mat-select>
  </mat-form-field> -->
  <button mat-raised-button class="color-dark-blue" (click)="addDepartment()"> Create department
  </button>
  </div>
