<!-- <p>employee-list works!</p> -->
<div class="wrapper">
  <h2>Employees</h2>

  <button mat-raised-button color="primary" (click)="openDialog()">
    Create Employee
  </button>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let employee of employees"
      (click)="selectEmployee(employee)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ employee.first_name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ employee.department }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field *ngIf="selectedEmployee">
        <input matInput [(ngModel)]="selectedEmployee.first_name" />
      </mat-form-field>
      <p>Employee ID: {{ employee.id }}</p>
      <p>Department ID: {{ employee.departmentId }}</p>
      <p>First Name: {{ employee.first_name }}</p>
      <p>Last Name: {{ employee.last_name }}</p>
      <p>Age: {{ employee.birth_date }}</p>

      <mat-action-row>
        <button mat-button color="warn" (click)="deleteEmployee(employee)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
