<!-- <p>employee-list works!</p> -->

<mat-toolbar class="mat-elevation-z2 mat-toolbar-nav mat-toolbar-gray">
  <h2>Employee Overview</h2>

  <span class="example-spacer"></span>
  <button mat-raised-button class="color-dark-blue" (click)="openDialog()">
    Create Employee
  </button>
</mat-toolbar>

<div class="accordion-wrapper">
  <mat-form-field class="mat-input">
    <mat-label>Search by First Name</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchValue"
      (keyup)="searchEmployee()"
    />
  </mat-form-field>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      *ngFor="let employee of employees"
      (click)="selectEmployee(employee)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ employee.first_name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ employee.department }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Employee ID: {{ employee.id }}</p>
      <p>Age: {{ employee.birth_date }}</p>
      <mat-form-field class="mat-input" *ngIf="selectedEmployee">
        <mat-label>Employee First Name (Editable):</mat-label>
        <input
          matInput
          (change)="updateEmployee(employee)"
          [(ngModel)]="selectedEmployee.first_name"
        />
      </mat-form-field>
      <mat-form-field class="mat-input" *ngIf="selectedEmployee">
        <mat-label>Employee Last Name (Editable):</mat-label>
        <input
          matInput
          (change)="updateEmployee(employee)"
          [(ngModel)]="selectedEmployee.last_name"
        />
      </mat-form-field>
      <mat-form-field class="mat-input" *ngIf="selectedEmployee">
        <mat-label>Employee AGE (Editable):</mat-label>
        <input
          matInput
          (change)="updateEmployee(employee)"
          [(ngModel)]="selectedEmployee.birth_date"
        />
      </mat-form-field>
      <mat-form-field class="mat-input" *ngIf="selectedEmployee">
        <mat-label>Employee Department (Editable):</mat-label>
        <mat-select name="" id="" [(ngModel)]="selectedEmployee.department_id">
          <mat-option
            [value]="department.id"
            *ngFor="let department of departments"
            (mousedown)="updateEmployee(employee)"
            >{{ department.id }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="deleteEmployee(employee)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
