<!-- <p>employee-list works!</p> -->
<div class="wrapper">
  <h2>Employees</h2>
  <ol>
    <!-- <li *ngFor="let employee of employees">{{ employee }}</li> -->
  </ol>

  <input type="text" placeholder="Employee ID" [(ngModel)]="newId" />
  <input type="text" placeholder="Employee Name" [(ngModel)]="newName" />
  <input type="text" placeholder="Age" [(ngModel)]="newAge" />
  <!-- <input type="text" placeholder="Department ID" [(ngModel)]="departmentId"/> -->
  <input type="text" placeholder="City" [(ngModel)]="newCity" />

  <button (click)="addEmployee()">Create Employee</button>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Create Employee
  </button>
  <select name="" id="" [(ngModel)]="selectedDepartment">
    <option
      *ngFor="let department of departmentsToChoose"
      [value]="department.name"
      >{{ department.name }}</option
    >
  </select>
  <h3>List Employees</h3>
  <ul>
    <li (click)="selectEmployee(employee)" *ngFor="let employee of employees">
      {{ employee.id }} {{ employee.first_name }} {{ employee.city }}
      {{ employee.department }}
      <span><button (click)="deleteEmployee(employee)">Delete</button></span>
    </li>
  </ul>
  <h3>Edit Employee</h3>
  <input
    *ngIf="selectedEmployee"
    type="text"
    [(ngModel)]="selectedEmployee.id"
  />

  <input
    *ngIf="selectedEmployee"
    type="text"
    [(ngModel)]="selectedEmployee.first_name"
  />
  <mat-accordion>
    <mat-expansion-panel *ngFor = "let employee of employees" (click) = "selectEmployee(employee)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{employee.first_name}}
        </mat-panel-title>
        <mat-panel-description>
          {{employee.department}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field *ngIf = "selectedEmployee">
        <input matInput [(ngModel)]="selectedEmployee.first_name">
      </mat-form-field>
      <p>Employee ID: {{employee.id}}</p>
      <p>Department ID: {{employee.departmentId}}</p>
      <p>First Name: {{employee.first_name}}</p>
      <p>Last Name: {{employee.last_name}}</p>
      <p>Age: {{employee.birth_date}}</p>
    </mat-expansion-panel>
  </mat-accordion>  
</div>
