<!-- <p>employee-list works!</p> -->
<div class="wrapper">
  <h2>Employees</h2>
  <ol>
    <!-- <li *ngFor="let employee of employees">{{ employee }}</li> -->
  </ol>

  <input type="text" placeholder="Employee ID" [(ngModel)]="newId" />
  <input type="text" placeholder="Employee Name" [(ngModel)]="newName" />
  <input type="text" placeholder="Age" [(ngModel)]="newAge" />
  <!-- <input type="text" placeholder="Department ID" [(ngModel)]="departmentId"/> -->
  <input type="text" placeholder="City" [(ngModel)]="newCity" />

  <button (click)="addEmployee()">Create Employee</button>

  <select name="" id="" [(ngModel)]="selectedDepartment">
    <option
      *ngFor="let department of departmentsToChoose"
      [value]="department.name"
      >{{ department.name }}</option
    >
  </select>
  <h3>List Employees</h3>
  <ul>
    <li (click)="selectEmployee(employee)" *ngFor="let employee of employees">
      {{ employee.id }} {{ employee.name }} {{ employee.city }}
      {{ employee.department }}
      <span><button (click)="deleteEmployee(employee)">Delete</button></span>
    </li>
  </ul>
  <h3>Edit Employee</h3>
  <input
    *ngIf="selectedEmployee"
    type="text"
    [(ngModel)]="selectedEmployee.id"
  />

  <input
    *ngIf="selectedEmployee"
    type="text"
    [(ngModel)]="selectedEmployee.name"
  />
</div>
