<div class="wrapper">
  <mat-toolbar class="mat-elevation-z2 mat-toolbar-nav" color="">
    <h2>Tasks Overview</h2>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="openDialog()">
      Create Task
    </button>
  </mat-toolbar>
  <h3>List Tasks</h3>
  <ul>
    <li (click)="selectTask(task)" *ngFor="let task of tasks">
      <p>ID: {{ task.id }}</p>
      <p>Task Name: {{ task.name }}</p>
      <p>Description: {{ task.description }}</p>
      <p>Due Date: {{ task.deadlineDate }}</p>
      <p>Employee Assigned:{{ task.assignedEmployee }}</p>
      <p>Department Assigned:{{ task.assignedDepartment }}</p>
      <span><button (click)="deleteTask(task)">Delete</button></span>
    </li>
  </ul>
  <h3>Edit Tasks</h3>
  <input *ngIf="selectedTask" type="text" [(ngModel)]="selectedTask.name" />
  <!-- <ul>
    <li *ngFor="let task of tasks">{{task.id}} {{task.name}}</li>
  </ul> -->
</div>
