<mat-toolbar class="mat-elevation-z2 mat-toolbar-nav" color="primary"
  ><h2>CREATE NEW TASK</h2></mat-toolbar
>

<div class="form-wrapper">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Task ID</mat-label>
    <input matInput type="text" placeholder="Task id" [(ngModel)]="newId" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Task Name</mat-label>
    <input matInput type="text" placeholder="Task name" [(ngModel)]="newTask" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      type="text"
      placeholder="Task Description"
      [(ngModel)]="newTaskDescription"
    >
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDueDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Assign Employee</mat-label>
    <mat-select name="" id="" [(ngModel)]="selectedEmployee">
      <mat-option [value]="employee.name" *ngFor="let employee of employees">{{
        employee.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Assign Department</mat-label>
    <mat-select name="" id="" [(ngModel)]="selectedDepartment">
      <mat-option
        [value]="department.name"
        *ngFor="let department of departments"
        >{{ department.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" (click)="addTask()">
    Create Task
  </button>
</div>
